.albums-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  

.albums-container {
    display: grid;
    column-gap: 10rem;
    row-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 80%;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    
&__single-album {
    display: flex;
    border: solid 2px lightgrey;
    min-width: 100%;
    
    img {
        height: 160px;
        width: 160px;
    }

    &--album-information {
        background-color: #ECECEC;
        height: 100%;
        width: 100%;
    }
}
}

.albums-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.albums-container:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    height: 25%;
    bottom: 10%;
    background: linear-gradient(180deg, rgba(139,167,32,0) 0%, rgba(255,255,255,1) 100%);
    pointer-events: none;
  }
