<div class="general-layout">
  <div class="general-layout__navbar">
    <div class="general-layout__navbar-panel">
      <div class="general-layout__navbar-panel--logo">
        <span>Track</span>
        <span>Vibe</span>
      </div>
      <ng-container *ngIf="auth.authenticated$.value">
        <div style="color: white">Halo</div>
        <button (click)="logout()">Logout</button>
      </ng-container>
      <div class="vertical-divider">
        <hr>
      </div>
      <div>
        <label for="name">Name: </label>
        <input id="name" type="text" [formControl]="searchField">
      </div>
    </div>
    <div class="general-layout__navbar-decoration"></div>
  </div>
  <div class="general-layout__content">
    <div class="general-layout__content--header">
      <span class="general-layout__content--header-title">{{pageHeader}}</span>
    </div>
    <div class="divider">
      <hr>
    </div>
    <div class="general-layout__content--albums">
      <router-outlet></router-outlet>
    </div>
    <div class="divider">
      <hr>
    </div>
    <div class="general-layout__player">
      <img class="general-layout__player--album-image">
      <div class="general-layout__player--album-information">
        <span></span>        
        <button (click)="togglePlay()">Play</button>
      </div>

    </div>
  </div>
</div>